.sidebar,
.header,
.footer,
.column {
    justify-content: center;

}

.main-column {
    justify-content: center;

}

.article {
    text-align: center;
}

.article-info {
    border: 1px solid black;
    color: black;
}